body
	background: url(../img/background.jpg) no-repeat fixed
	+cover
	min-width: 960px 
	height: auto
	min-height: 100% 
	padding-bottom: 42px
	position: relative
	+box
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/background-bg.png)
		content: "" 
.authorization
	background: url(../img/authorization.jpg) no-repeat fixed
	+cover
	position: relative
	min-width: 960px
	min-height: 400px
	padding: 0 
	height: 100%
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/authorization-bg.png)
		content: "" 
	&__block
		position: absolute
		top: 50%
		left: 50%
		width: 550px
		border: 1px solid #44709C
		+box-shadow(0 4px 7px rgba(78, 117, 155, 0.75))
		background: url(../img/authorization-block.jpg)
		+translate(-50%, -50%)
		min-height: 282px
		+box 
	&__login
		max-width: 258px
		margin: 0 auto 
		text-align: right
		padding: 58px 0 
	.input
		margin-bottom: 22px
	&__message
		text-align: center
		max-width: 258px
		margin: 0 auto 
		padding: 64px 0 59px
		.input
			margin-bottom: 26px
	&__title
		font-size: 25px
		color: #fff
		+reg
		line-height: 1 
		display: block
		margin: 0 0 27px 
		
//header
.header
	background-color: #185D87
	margin-bottom: 42px
	position: relative
	&__inner
		width: 952px
		margin: 0 auto
		+clr
		position: relative
	&__close
		position: absolute
		top: 20px
		right: 0
		+s(close)
		cursor: pointer
.logo
	float: left
	margin: 18px 17px 11px 0
	font-size: 0
.nav
	font-size: 0
	float: left
	li
		display: inline-block
		vertical-align: top
		padding: 21px 12px 24px
	a
		color: #FFF
		+reg
		font-size: 15px
		text-transform: uppercase
		line-height: 1
		&:hover
			text-decoration: underline
			
.main
	width: 940px
	margin: 0 auto 
	position: relative
	+border-radius(4px)
	+clr
	min-height: 580px 
	&.is-news
		.info-new__table
			margin-bottom: 34px
	&.is-support
		min-height: 710px
		.sidebar, .content
			min-height: 710px
	&.is-delivery
		.sidebar, .content
			min-height: 740px

.sidebar, .content
	position: relative
	float: left
	min-height: 580px 
	&:after
		position: absolute
		bottom: 0
		left: 0
		right: 0
		content: "" 
		height: 5px
		background: #000
		+opacity(0.25) 
.sidebar
	+border-radius(4px 0 0 4px)
	background-color: #185D87
	width: 283px
	&:after
		+border-radius(0 0 0 4px)
	&__logo
		position: absolute
		bottom: 62px
		left: 76px
	&__title
		font-size: 15px
		color: #FAFAFF
		+bold
		letter-spacing: 0.05em 
		line-height: 1
		margin-bottom: 35px
		display: block
	&__inner
		padding: 40px 37px 100px 43px 
.content
	+border-radius(0 4px 4px 0)
	background-color: #FAFAFF
	width: 657px
	&:after
		+border-radius(0 0 4px 0)
	&.is-radius
		+border-radius(0 4px 4px 4px)
		&:after
			+border-radius(0 0 4px 4px)
	&__title
		font-size: 0
		margin: 0 0 24px 
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin: 0 13px 0 0 
			&.is-user
				+s(user-blue)
				margin: 0 13px 0 -6px 
			&.is-news
				+s(news-blue)
				margin: 0 13px 0 9px 
			&.is-ads
				+s(ads)
				margin: 0 10px 0 0 
			&.is-delivery
				+s(delivery)
				margin: 0 8px 0 0
			&.is-rating
				+s(rating-blue)
				margin: 0 8px 0 0
			&.is-plane
				+s(plane)
				margin: 0 12px 0 0
			&.is-support
				+s(support)
				margin: 0 10px 0 0
		span
			font-size: 17px
			color: #185D87
			+reg
			line-height: 1

.s-info
	+clr
	padding: 3px 0 47px
	&__icon
		float: left
		+s(user)
		position: relative
		margin: 0 15px 0 0 
		&.is-aero
			+s(aero)
		&.is-lamp
			+s(lamp)
		&.is-aero2
			+s(aero2)
		&.is-case
			+s(case)
		&.is-rating
			+s(rating)
		span
			position: absolute
			top: 1px
			right: -4px
			font-size: 10px
			+semi
			color: #FAFAFF
			line-height: 14px
			min-width: 14px
			text-align: center
			+border-radius(50%)
			&.is-orange
				background-color: #E06919
			&.is-green
				background-color: #00DB00
				+box-shadow(0 0 0 3px rgba(127, 255, 127, 0.32))
			&.is-red
				background-color: #961818
				+box-shadow(0 0 0 3px rgba(150, 24, 24, 0.32))
	&__block
		display: block
		overflow: hidden
	&__text
		font-size: 15px
		line-height: 16.67px
		letter-spacing: 0.05em 
		color: #FAFAFF
		display: block
		overflow: hidden
		font-family: "Myriad Pro"
		font-weight: 700
		padding: 14px 0 9px 
	&__numbers
		color: #FFF
		font-size: 12px
		+bold
		+opacity(0.4)
		float: right
		margin: 0 0 0 10px 
		padding: 13px 0 10px

.info-new
	padding: 27px 50px 45px 47px 
	&__table
		td
			font-size: 14px
			color: #282828
			+reg
			line-height: 1 
			&.is-number
				padding: 11px 6px 6px 32px 
				width: 18px
				text-align: center
			&.is-country
				padding: 11px 30px 6px
			&.is-quantity
				width: 200px
				padding: 11px 6px 6px
				text-align: center 
			&.is-col
				padding: 12px 37px 16px
				width: 50%
				&.is-center
					text-align: center
		i
			&.is-number
				+s(country-white)
				display: block
	&__head
		background-color: #185D87
		th
			vertical-align: middle
			+reg
			font-size: 14px
			line-height: 1
			color: #fff 
			padding: 6px 0
			text-align: left
			&.is-number
				padding: 6px 6px 6px 32px 
				width: 18px
				text-align: center
			&.is-country
				padding: 8px 6px
				width: 303px
			&.is-quantity
				width: 188px
				padding: 8px 6px
				text-align: center 
			&.is-col
				padding: 8px 37px
				width: 50%
				position: relative
				&:before
					position: absolute
					top: 0
					bottom: 0	
					content: "" 				
				&.is-center
					text-align: center
				&.is-one
					&:before
						right: 0
						border-right: 1px solid #1C6A99
				&.is-two
					&:before
						left: 0
						border-left: 1px solid #134C6E
			a
				color: #fff
				&:hover
					text-decoration: underline
				
			
.news
	padding: 22px 47px 
	.content__title
		margin-bottom: 15px
	&__top
		+clr
		margin: 0 0 28px 
		.select
			width: 148px
			margin: 0 25px 0 0
			float: left
	&__input
		overflow: hidden
	&__form
		padding: 0 9px 
	&__btn
		text-align: center
.area
	border: 1px solid #44709C
	overflow: hidden
	+border-radius(3px)
	font-size: 0
	margin: 0 0 21px 
	&__top
		padding: 4px 16px 5px
		background-color: #185D87
		color: #fff 
		line-height: 1
		.d-select
			display: inline-block
			vertical-align: top
			margin: 0 0 0 6px 
			&.is-medium
				width: 102px
			&.is-small
				width: 67px 
	.is-list, .is-number, .is-img
		display: inline-block
		vertical-align: top
		cursor: pointer
	.is-list
		+s(list)
		margin: 4px 6px 0 
	.is-number
		+s(number)
		margin: 3px 6px 0
	.is-img
		+s(img)
		margin: 3px 12px 0
	u, i, b
		display: inline-block
		vertical-align: top
		font-size: 14px
		margin: 2px 12px 0 0
		cursor: pointer
	u
		text-decoration: underline
		+light
	i
		+litalic
	b
		+bold
	&__text
		background: #fff
		height: 292px
		+box
		padding: 10px 14px  
		+light
		font-size: 12px
		line-height: 1.75
		color: #555

.search
	position: relative
	padding: 0 27px 0 0
	width: 148px
	+box
	.d-input
		+border-radius(3px 0 0 3px)
	&__btn
		width: 27px
		height: 27px
		position: absolute
		top: 0
		right: 0
		+border-radius(0 3px 3px 0)
		background: url(../img/icons/search.png) no-repeat center center #185D87
		
.catalog
	&__inner
		padding: 22px 56px 0
	.content__title
		margin: 0 0 15px -9px 
	&__top
		+clr
		margin: 0 0 15px 
		.btn
			float: left
		.search
			float: right
	&__items
		padding: 0 35px 

.c-item
	+clr
	padding: 16px 1px 9px
	border-bottom: 1px solid #185D87 
	&:hover
		background: rgba(111, 191, 221, 0.25) 
	&__img
		float: left
		width: 128px
		height: 72px
		margin: 0 15px 0 0 
		background-color: #185D87
	&__text
		float: left
		width: 408px
		+clr
	&__title
		color: #185D87
		+bold
		font-size: 13px
		line-height: 1
		margin-bottom: 7px
		a
			color: #185D87
			&:hover
				text-decoration: underline
	hr
		border: none
		height: 1px
		width: 100%
		background-color: #185D87
		margin: 0 0 7px
	p
		color: #555
		font-size: 11px
		+semi
		height: 35px
		overflow: hidden
	.c-info
		float: left
		padding: 8px 0 0 
	.c-btn
		float: right

.c-info
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 9px 0 0 
		a
			display: inline-block
			color: #555
			+reg
			font-size: 10px
			position: relative
			line-height: 14px
			&:before
				position: absolute
				top: 0
				left: 0
				content: "" 
			&.is-comment
				padding-left: 18px 
				&:before
					+s(bubble)
			&.is-preview
				padding-left: 21px 
				&:before
					+s(preview)
					top: 1px
			&.is-date
				padding-left: 16px 
				&:before
					+s(calendar)

.pages
	font-size: 0
	padding: 30px 0 32px
	text-align: center 
	&__text
		font-size: 12px
		color: #4C8299
		+semi
		display: inline-block
		vertical-align: middle
		margin: 0 12px
		line-height: 1
		padding: 5px 0 4px 
	&__list
		display: inline-block
		vertical-align: middle
		+g(#fff, #dedede)
		border: 1px solid #C8C8C8
		border-left: none
		+border-radius(5px)
		overflow: hidden
		margin: 0 12px
		li
			display: inline-block
			vertical-align: top
		a			
			border-left: 1px solid #C8C8C8
			line-height: 1
			padding: 5px 0 4px 
			min-height: 21px 
			width: 23px
			+box
			text-align: center
			display: inline-block
			font-size: 12px
			+semi
			color: #4C8299
			text-transform: uppercase
			position: relative
			&:hover, &.is-active
				background-color: #326292
				color: #fff 
			&.is-prev, &.is-next
				&:before
					content: ""
					position: absolute
					top: 6px
			&.is-prev
				&:before
					left: 9px
					+s(prev)
				&:hover
					&:before
						+s(prev-white)
			&.is-next
				&:before
					right: 9px
					+s(next)
				&:hover
					&:before
						+s(next-white)

.s-filter
	+clr
	&__link
		font-size: 15px
		font-weight: 700
		font-family: "Myriad Pro"
		color: #FAFAFF
		display: inline-block
		vertical-align: top
		padding: 4px 26px 3px 0
		position: relative
		line-height: 1
		&:before
			position: absolute
			top: 50%
			right: 0
			content: "" 
			+s(arr-bot)
			margin: -11px 0 0
		&.is-date
			float: left
		&.is-price
			float: right
	&__check
		padding: 20px 0 0 
		clear: both
		font-size: 0
		.checkbox
			display: inline-block
			vertical-align: middle
	&__label
		font-size: 15px
		font-family: "Myriad Pro"
		color: #FAFAFF
		font-weight: normal
		display: inline-block
		vertical-align: middle
		margin-right: 15px
			
.ads
	padding: 24px 32px 24px 35px 
	.content__title
		margin: 0 0 16px 19px 
	&__top
		font-size: 0
		+clr
		margin: 0 0 13px 
		.select
			margin: 0 8px 0 0
	.select
		width: 123px
		display: inline-block
		vertical-align: top
	&__link
		display: inline-block
		vertical-align: top
		font-size: 12px
		+semi
		text-decoration: underline
		color: #185D87
		line-height: 1
		padding: 8px 0 7px 
		margin: 0 5px 
		&:hover
			text-decoration: none
	.search
		float: right
		width: 168px
	&__block
		+clr
	&__sections
		float: left
	&__right
		float: right
		text-align: right
		.btn
			width: 125px
			text-align: center
			margin: 0 0 11px 
	&__items
		padding: 5px 0 0
		position: relative
	&__popup
		position: absolute
		top: 0
		right: 0
		background-color: #185D87
		width: 400px
		+box-shadow(0 2px 4px rgba(24, 93, 135, 0.75))
		padding: 12px
		+box 
		z-index: 10
		display: none
		margin: 12px 0 0 
		&.is-active
			display: block
		.a-input, .a-textarea
			margin-bottom: 12px
	&__popup-btn
		text-align: right
//section
.section
	font-size: 12px
	+light
	line-height: 1
	margin: 0 0 22px 
	span
		display: block
		overflow: hidden
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		white-space: nowrap
	&__title
		position: relative
		padding: 7px 28px 6px
		width: 170px
		+box
		background-color: #185D87
		+box-shadow(0 2px 4px rgba(24, 93, 135, 0.75))
		color: #fff 
		i
			position: absolute
			cursor: pointer
			&.is-plus
				width: 9px
				height: 9px
				top: 8px
				left: 8px
				&:before, &:after
					position: absolute
					content: "" 
					background: #fff 
				&:before
					top: 0
					bottom: 0
					left: 4px
					width: 1px
				&:after
					top: 4px
					left: 0
					right: 0
					height: 1px
			&.is-edit
				+s(edit)
				top: 5px
				right: 5px
	&__body
		width: 213px
		background: #fff
		+box-shadow(0 2px 4px rgba(24, 93, 135, 0.75)) 
		position: relative
	&__category
		position: relative
		color: #555
		padding: 7px 62px 6px 28px 
		&:hover
			color: #185D87
			i
				&.is-edit
					+s(edit-blue)
				&.is-delete
					+s(delete-blue)
		i
			position: absolute
			cursor: pointer
			&.is-edit
				+s(edit-dark)
				top: 5px
				right: 38px
			&.is-delete
				+s(delete-dark)
				top: 5px
				right: 11px
		span
			display: block
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap

//submenu
.submenu
	width: 166px
	background-color: #FFF
	+box-shadow(0 2px 4px rgba(24, 93, 135, 0.75))
	&__top
		position: relative
		padding: 6px 35px 7px 8px 
		i
			position: absolute
			cursor: pointer
			&.is-close
				top: 13px
				right: 11px
				+s(close-blue)
	&__body
		text-align: right
		padding: 0 0 7px 
	&__title
		font-size: 12px
		+light
		color: #fff
		padding: 8px 11px 7px  
		line-height: 1
		display: block
		background-color: #185D87
		text-align: left
	.c-btn
		margin: 7px 8px 0 
		
//a-item
.a-item
	border-bottom: 1px solid #185d87
	padding: 19px 9px 7px 1px 
	+clr
	&:hover
		background-color: #D7EBF6
	&__img
		width: 70px
		height: 70px
		background-color: #185D87
		margin: 0 25px 0 0
		float: left
	&__block
		width: 485px
		float: left
	&__price
		float: right
		font-size: 11px
		color: #555
		+reg
		line-height: 1
		padding: 2px 0 
	&__title
		font-size: 13px
		display: block
		overflow: hidden
		+bold
		color: #185D87
		line-height: 1
		a
			color: #185D87
	&__trade
		float: right
		color: #555
		font-size: 11px
		line-height: 1
		+reg
	p
		overflow: hidden
		color: #555
		font-size: 11px
		line-height: 1
	&__top
		padding: 0 18px 0 0 
	&__text
		padding: 12px 0 9px 
	&__info
		font-size: 0
		.trade, span, .c-btn
			display: inline-block
			vertical-align: middle
		span
			font-size: 11px
			color: #555
			+semi
			line-height: 1
			margin: 0 12px 0 0 
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
			&.is-name
				width: 75px
			&.is-place
				width: 82px
			&.is-date
				width: 95px
		.trade
			margin: 0 8px 0 0 
		.c-btn
			width: 118px
			padding: 3px 5px 3px
			
.delivery
	padding: 24px 26px 0 35px 
	.content__title
		padding: 0 19px
		margin: 0 0 17px 
	&__form
		font-size: 0
		margin: 0 0 15px 
		.search
			float: right
			width: 168px
		p
			font-size: 13px
			color: #185D87
			+semi
			line-height: 1
			padding: 7px 0 
		.select
			margin: 0 9px 0 0
			display: inline-block
			vertical-align: top 
			&.is-medium
				width: 99px
			&.is-small
				width: 79px
			&.is-big
				width: 146px
	&__field
		width: 137px
		display: inline-block
		vertical-align: top
		position: relative
		padding: 0 25px 0 0
		+box
	&__input
		+light
		color: #555 
		font-size: 12px
		background-color: #F4F4F4
		border: 1px solid #44709C
		+border-radius(3px 0 0 3px)
		width: 100%
		padding: 6px 10px 5px
		+box 
		+placeholder-color(#555)
	&__btn
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 26px
		background: url(../img/icons/mail.png) no-repeat center center #185d87
		+border-radius(0 3px 3px 0)
	&__top
		margin-bottom: 14px
	&__items
		padding: 0 6px 0 0 
		
.d-item
	font-size: 0
	padding: 19px 15px 6px 13px
	border-bottom: 1px solid #185d87
	+clr 
	background-color: #D7EBF6
	&_mod
		background: none
	&__img
		width: 70px
		height: 70px
		background-color: #185D87
		margin: 0 25px 0 0 
		float: left
	span, li
		display: inline-block
		vertical-align: top
		font-size: 14px
		color: #555
		+reg
		line-height: 1
	&__delivery
		float: right
	&__info
		width: 467px
		float: left
		ul
			overflow: hidden
			li
				margin: 0 23px 0 0 
	.c-btn
		padding: 6px 0 5px 
		width: 100px
		margin: 0 0 0 7px 
	&__top
		margin: 0 0 13px
	&__text
		margin: 0 0 13px 
	&__btns
		text-align: right
		+clr
		span
			float: left
			
//send
.send
	float: right
	width: 657px
	padding: 24px 0 0 
	&__inner
		padding: 19px 23px 14px
		+box-shadow(0 3px 4px rgba(24, 93, 135, 0.75)) 
		background-color: #FFF
	.s-input
		margin-bottom: 13px
		max-width: 570px
	.s-text
		margin-bottom: 9px
	&__bottom
		+clr
		position: relative
		.btn
			float: right
			padding: 8px 13px 7px
			+border-radius(4px)
	&__smile
		+s(smile)
		float: left
		margin: 6px 0 0
	&__smiles
		display: none
		position: absolute
		bottom: 100%
		left: 0
		font-size: 0
		background: #fff
		padding: 10px
		border: 1px solid #2D4164
		max-width: 210px
		+box-shadow(0 3px 6px rgba(20, 45, 96, 0.75))
		text-align: left
		&.is-active
			display: block
		&:before, &:after
			position: absolute
			top: 100%
			content: ""
		&:before
			left: 10px
			+arr(10, 8, #2D4164, b)
		&:after
			left: 11px
			+arr(8, 7, #fff, b)
		a
			display: inline-block
			vertical-align: middle
			width: 24px
			margin: 3px
			img
				width: 100%
				
.support
	padding: 20px 26px 20px 53px 
	.content__title
		margin-bottom: 15px
	&__top
		background-color: #185D87
		padding: 9px 10px 10px 11px 
		+clr
		font-size: 0
		.checkbox
			display: inline-block
			vertical-align: middle
			margin: 1px 13px 0 0
		.sub-select
			display: inline-block
			vertical-align: middle
		.subscription
			display: inline-block
			vertical-align: middle
			margin-left: 15px
	&__left
		float: left
	&__right
		float: right
	&__label
		font-size: 14px
		color: #FAFAFF
		+semi
		line-height: 1
		display: inline-block
		vertical-align: middle 
	&__form
		border: 1px solid #185D87
		min-height: 425px 
	&__body
		padding: 10px
	&__field
		padding: 12px 10px 12px 10px
		background-color: #185D87
		position: relative
		&.is-check
			padding-left: 46px
			.checkbox
				position: absolute
				bottom: 19px
				left: 13px
	&__price
		float: right
		padding: 0 10px 
	&__price, &__info li
		font-size: 14px
		color: #FAFAFF
		+reg
		line-height: 1
	&__info
		overflow: hidden
		font-size: 0
		padding: 0 10px 
		li
			display: inline-block
			vertical-align: top
			margin: 0 11px 0 0 
	&__rating
		float: right
		width: 52px
		margin-left: 9px
	&__textarea
		overflow: hidden
	&__field-top
		margin-bottom: 13px
	&__block
		.sup-textarea
			height: 32px
	&__actions
		font-size: 0
		margin: 0 -10px 0 0 
		padding: 10px 0 4px 
		li
			display: inline-block
			vertical-align: top
			color: #FAFAFF
			font-size: 12px
			line-height: 1
			+light
			margin: 0 12px 0 0 
			padding: 6px 0 0 
			b
				+bold
				margin: 0 0 0 6px 
	&__area
		padding: 26px 0 13px
	&__btn
		text-align: right
		.btn
			width: 125px
	&__theme
		font-size: 14px
		color: #555
		+reg
		line-height: 1
		padding: 0 0 10px  
	&__checkbox
		font-size: 0
		padding: 10px 11px
		border: 1px solid #185D87
		.checkbox
			float: left
			margin-right: 15px
		small, time
			color: #555
			font-size: 14px
			line-height: 1
			+reg
			padding: 2px 0 
		time
			float: right
			margin-left: 15px
		small
			display: block
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
	&__checks
		padding: 2px 0 