body
	background: url(../img/background.jpg) no-repeat fixed
	+cover
	min-width: 960px 
	height: auto
	min-height: 100% 
	padding-bottom: 42px
	position: relative
	+box
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/background-bg.png)
		content: "" 
.authorization
	background: url(../img/authorization.jpg) no-repeat fixed
	+cover
	position: relative
	min-width: 960px
	min-height: 400px
	padding: 0 
	height: 100%
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/authorization-bg.png)
		content: "" 
	&__block
		position: absolute
		top: 50%
		left: 50%
		width: 550px
		border: 1px solid #44709C
		+box-shadow(0 4px 7px rgba(78, 117, 155, 0.75))
		background: url(../img/authorization-block.jpg)
		+translate(-50%, -50%)
		min-height: 282px
		+box 
	&__login
		max-width: 258px
		margin: 0 auto 
		text-align: right
		padding: 58px 0 
	.input
		margin-bottom: 22px
	&__message
		text-align: center
		max-width: 258px
		margin: 0 auto 
		padding: 64px 0 59px
		.input
			margin-bottom: 26px
	&__title
		font-size: 25px
		color: #fff
		+reg
		line-height: 1 
		display: block
		margin: 0 0 27px 
		
//header
.header
	background-color: #185D87
	margin-bottom: 42px
	position: relative
	&__inner
		width: 952px
		margin: 0 auto
		+clr
		position: relative
	&__close
		position: absolute
		top: 20px
		right: 0
		+s(close)
		cursor: pointer
.logo
	float: left
	margin: 18px 17px 11px 0
	font-size: 0
.nav
	font-size: 0
	float: left
	li
		display: inline-block
		vertical-align: top
		padding: 21px 12px 24px
	a
		color: #FFF
		+reg
		font-size: 15px
		text-transform: uppercase
		line-height: 1
		&:hover
			text-decoration: underline
			
.main
	width: 940px
	margin: 0 auto 
	position: relative
	+border-radius(4px)
	+clr
	min-height: 580px 
	&.is-index
		display: table
		.sidebar, .content
			display: table-cell
			float: none
			vertical-align: top
	&.is-news
		display: table
		.sidebar, .content
			display: table-cell
			float: none
			vertical-align: top
		.info-new__table
			margin-bottom: 34px
.sidebar, .content
	position: relative
	float: left
	min-height: 580px 
	&:after
		position: absolute
		bottom: 0
		left: 0
		right: 0
		content: "" 
		height: 5px
		background: #000
		+opacity(0.25) 
.sidebar
	+border-radius(4px 0 0 4px)
	background-color: #185D87
	width: 283px
	&:after
		+border-radius(0 0 0 4px)
	&__logo
		position: absolute
		bottom: 62px
		left: 76px
	&__title
		font-size: 15px
		color: #FAFAFF
		+bold
		letter-spacing: 0.05em 
		line-height: 1
		margin-bottom: 35px
		display: block
	&__inner
		padding: 40px 37px 40px 43px 
.content
	+border-radius(0 4px 4px 0)
	background-color: #FAFAFF
	width: 657px
	&:after
		+border-radius(0 0 4px 0)
	&.is-radius
		+border-radius(0 4px 4px 4px)
		&:after
			+border-radius(0 0 4px 4px)
	&__title
		font-size: 0
		margin: 0 0 24px 
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin: 0 13px 0 0 
			&.is-user
				+s(user-blue)
				margin: 0 13px 0 -6px 
			&.is-news
				+s(news-blue)
				margin: 0 13px 0 9px 
			&.is-ads
				+s(ads)
				margin: 0 10px 0 0 
		span
			font-size: 17px
			color: #185D87
			+reg
			line-height: 1

.s-info
	+clr
	padding: 3px 0 47px
	&__icon
		float: left
		+s(user)
		position: relative
		margin: 0 15px 0 0 
		&.is-aero
			+s(aero)
		span
			position: absolute
			top: 1px
			right: -4px
			font-size: 10px
			+semi
			color: #FAFAFF
			line-height: 14px
			min-width: 14px
			text-align: center
			+border-radius(50%)
			&.is-orange
				background-color: #E06919
			&.is-green
				background-color: #00DB00
				+box-shadow(0 0 0 3px rgba(127, 255, 127, 0.32))
			&.is-red
				background-color: #961818
				+box-shadow(0 0 0 3px rgba(150, 24, 24, 0.32))
	&__block
		display: block
		overflow: hidden
	&__text
		font-size: 15px
		line-height: 16.67px
		letter-spacing: 0.05em 
		color: #FAFAFF
		display: block
		overflow: hidden
		font-family: "Myriad Pro"
		font-weight: 700
		padding: 14px 0 9px 
	&__numbers
		color: #FFF
		font-size: 12px
		+bold
		+opacity(0.4)
		float: right
		margin: 0 0 0 10px 
		padding: 13px 0 10px

.info-new
	padding: 27px 50px 45px 47px 
	&__table
		td
			font-size: 14px
			color: #282828
			+reg
			line-height: 1 
			&.is-number
				padding: 11px 6px 6px 32px 
				width: 18px
				text-align: center
			&.is-country
				padding: 11px 30px 6px
			&.is-quantity
				width: 200px
				padding: 11px 6px 6px
				text-align: center 
			&.is-col
				padding: 12px 37px 16px
				width: 50%
				&.is-center
					text-align: center
		i
			&.is-number
				+s(country-white)
				display: block
	&__head
		background-color: #185D87
		th
			vertical-align: middle
			+reg
			font-size: 14px
			line-height: 1
			color: #fff 
			padding: 6px 0
			text-align: left
			&.is-number
				padding: 6px 6px 6px 32px 
				width: 18px
				text-align: center
			&.is-country
				padding: 8px 6px
				width: 303px
			&.is-quantity
				width: 188px
				padding: 8px 6px
				text-align: center 
			&.is-col
				padding: 8px 37px
				width: 50%
				position: relative
				&:before
					position: absolute
					top: 0
					bottom: 0	
					content: "" 				
				&.is-center
					text-align: center
				&.is-one
					&:before
						right: 0
						border-right: 1px solid #1C6A99
				&.is-two
					&:before
						left: 0
						border-left: 1px solid #134C6E
			a
				color: #fff
				&:hover
					text-decoration: underline
				
			
.news
	padding: 22px 47px 
	.content__title
		margin-bottom: 15px
	&__top
		+clr
		margin: 0 0 28px 
		.select
			width: 148px
			margin: 0 25px 0 0
			float: left
	&__input
		overflow: hidden
	&__form
		padding: 0 9px 
	&__btn
		text-align: center
.area
	border: 1px solid #44709C
	overflow: hidden
	+border-radius(3px)
	font-size: 0
	margin: 0 0 21px 
	&__top
		padding: 4px 16px 5px
		background-color: #185D87
		color: #fff 
		line-height: 1
		.d-select
			display: inline-block
			vertical-align: top
			margin: 0 0 0 6px 
			&.is-medium
				width: 102px
			&.is-small
				width: 67px 
	.is-list, .is-number, .is-img
		display: inline-block
		vertical-align: top
		cursor: pointer
	.is-list
		+s(list)
		margin: 4px 6px 0 
	.is-number
		+s(number)
		margin: 3px 6px 0
	.is-img
		+s(img)
		margin: 3px 12px 0
	u, i, b
		display: inline-block
		vertical-align: top
		font-size: 14px
		margin: 2px 12px 0 0
		cursor: pointer
	u
		text-decoration: underline
		+light
	i
		+litalic
	b
		+bold
	&__text
		background: #fff
		height: 292px
		+box
		padding: 10px 14px  
		+light
		font-size: 12px
		line-height: 1.75
		color: #555

.search
	position: relative
	padding: 0 27px 0 0
	width: 148px
	+box
	.d-input
		+border-radius(3px 0 0 3px)
	&__btn
		width: 27px
		height: 27px
		position: absolute
		top: 0
		right: 0
		+border-radius(0 3px 3px 0)
		background: url(../img/icons/search.png) no-repeat center center #185D87
		
.catalog
	&__inner
		padding: 22px 56px 0
	.content__title
		margin: 0 0 15px -9px 
	&__top
		+clr
		margin: 0 0 15px 
		.btn
			float: left
		.search
			float: right
	&__items
		padding: 0 35px 

.c-item
	+clr
	padding: 16px 1px 9px
	border-bottom: 1px solid #185D87 
	&:hover
		background: rgba(111, 191, 221, 0.25) 
	&__img
		float: left
		width: 128px
		height: 72px
		margin: 0 15px 0 0 
		background-color: #185D87
	&__text
		float: left
		width: 408px
		+clr
	&__title
		color: #185D87
		+bold
		font-size: 13px
		line-height: 1
		margin-bottom: 7px
		a
			color: #185D87
			&:hover
				text-decoration: underline
	hr
		border: none
		height: 1px
		width: 100%
		background-color: #185D87
		margin: 0 0 7px
	p
		color: #555
		font-size: 11px
		+semi
		height: 35px
		overflow: hidden
	.c-info
		float: left
		padding: 8px 0 0 
	.c-btn
		float: right

.c-info
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 9px 0 0 
		a
			display: inline-block
			color: #555
			+reg
			font-size: 10px
			position: relative
			line-height: 14px
			&:before
				position: absolute
				top: 0
				left: 0
				content: "" 
			&.is-comment
				padding-left: 18px 
				&:before
					+s(bubble)
			&.is-preview
				padding-left: 21px 
				&:before
					+s(preview)
					top: 1px
			&.is-date
				padding-left: 16px 
				&:before
					+s(calendar)

.pages
	font-size: 0
	padding: 30px 0 32px
	text-align: center 
	&__text
		font-size: 12px
		color: #4C8299
		+semi
		display: inline-block
		vertical-align: middle
		margin: 0 12px
		line-height: 1
		padding: 5px 0 4px 
	&__list
		display: inline-block
		vertical-align: middle
		+g(#fff, #dedede)
		border: 1px solid #C8C8C8
		border-left: none
		+border-radius(5px)
		overflow: hidden
		margin: 0 12px
		li
			display: inline-block
			vertical-align: top
		a			
			border-left: 1px solid #C8C8C8
			line-height: 1
			padding: 5px 0 4px 
			min-height: 21px 
			width: 23px
			+box
			text-align: center
			display: inline-block
			font-size: 12px
			+semi
			color: #4C8299
			text-transform: uppercase
			position: relative
			&:hover, &.is-active
				background-color: #326292
				color: #fff 
			&.is-prev, &.is-next
				&:before
					content: ""
					position: absolute
					top: 6px
			&.is-prev
				&:before
					left: 9px
					+s(prev)
				&:hover
					&:before
						+s(prev-white)
			&.is-next
				&:before
					right: 9px
					+s(next)
				&:hover
					&:before
						+s(next-white)

.s-filter
	+clr
	&__link
		font-size: 15px
		font-weight: 700
		font-family: "Myriad Pro"
		color: #FAFAFF
		display: inline-block
		vertical-align: top
		padding: 4px 26px 3px 0
		position: relative
		line-height: 1
		&:before
			position: absolute
			top: 50%
			right: 0
			content: "" 
			+s(arr-bot)
			margin: -11px 0 0
		&.is-date
			float: left
		&.is-price
			float: right
	&__check
		padding: 20px 0 0 
		clear: both
		font-size: 0
		.checkbox
			display: inline-block
			vertical-align: middle
	&__label
		font-size: 15px
		font-family: "Myriad Pro"
		color: #FAFAFF
		font-weight: normal
		display: inline-block
		vertical-align: middle
		margin-right: 15px
			
.ads
	padding: 24px 32px 24px 35px 
	.content__title
		margin: 0 0 16px 19px 
	&__top
		font-size: 0
		+clr
		.select
			margin: 0 8px 0 0
	.select
		width: 123px
		display: inline-block
		vertical-align: top
	&__link
		display: inline-block
		vertical-align: top
		font-size: 12px
		+semi
		text-decoration: underline
		color: #185D87
		line-height: 1
		padding: 8px 0 7px 
		margin: 0 5px 
		&:hover
			text-decoration: none
	.search
		float: right
		width: 168px